In [1]:
import pandas as pd

In [4]:
july22_df = pd.read_csv("july22-citbike-tripdata.csv")

c:\Users\Didi\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
july22_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,C09E4093905089BD,classic_bike,2022-07-23 11:34:57,2022-07-23 11:45:08,Melrose St & Broadway,4801.04,Myrtle Ave & Grove St,4816.05,40.697481,-73.935877,40.699050,-73.915160,member
1,374630DB5822C392,electric_bike,2022-07-29 18:19:08,2022-07-29 18:26:50,E 68 St & 3 Ave,6896.16,E 85 St & York Ave,7146.04,40.767128,-73.962246,40.775369,-73.948034,member
2,4F73CA25880A1215,electric_bike,2022-07-16 16:30:58,2022-07-16 17:39:18,W 37 St & 10 Ave,6611.02,Knickerbocker Ave & Cooper St,4582.05,40.756604,-73.997901,40.690810,-73.904480,member
3,ECD6EE19C0CC1D31,electric_bike,2022-07-17 17:35:57,2022-07-17 18:03:36,W 37 St & 10 Ave,6611.02,6 Ave & Broome St,5610.09,40.756604,-73.997901,40.724310,-74.004730,member
4,44D0987673B9997D,classic_bike,2022-07-11 07:56:29,2022-07-11 07:59:15,E 68 St & 3 Ave,6896.16,E 66 St & Madison Ave,6969.08,40.767128,-73.962246,40.768009,-73.968453,member

In [8]:
july22_df.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

### Links to my Tableau Public workbook:

  * Dashboard 1: https://public.tableau.com/app/profile/diana1416/viz/citi-bikes-challenge/Dashboard1?publish=yes

  * Dashboard 2: https://public.tableau.com/app/profile/diana1416/viz/citi-bikes-challenge-D2/Dashboard2?publish=yes

  * 1 city official map: https://public.tableau.com/app/profile/diana1416/viz/citi-bikes-challenge-map/map?publish=yes

  * Story: https://public.tableau.com/app/profile/diana1416/viz/citi-bikes-challenge-story/Story1?publish=yes

## Analysis

* In July 2022 the CitiBike service was used 3.5 million times, most of them members. Nearly 840 thousand were casual users, about 25%. 

* The biggest difference that can be observed between the two types of users is that all docked bikes were rented by casual users.

* In addition, the most used stations are all located in the heart of New York City, with a clear focus on Central Park.

* The busiest and the most popular station in the city, both as a start and end station, is the one located at West St. & Chambers St.

### Workbook

Disclaimer: 
It was requested the workbook to be submitted workbook as a `.twbx` file format but I could not find the "save as .twbx" option in the file dropdown Tableau menu.